<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form
  class="row g-3 needs-validation"
  method="POST"
  action="/add-user"
  novalidate
>
  <div class="col-md-6">
    <label for="inputName" class="form-label"> First Name</label>
    <input
      type="text"
      class="form-control"
      id="input-name"
      placeholder="First name"
    />
  </div>
  <div class="col-md-6">
    <label for="inputSurname" class="form-label"> Last Name</label>
    <input
      type="text"
      class="form-control"
      id="input-surname"
      placeholder="Last name"
    />
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label"> Email</label>
    <input type="email" class="form-control" id="inputEmail4" />
  </div>
  <div class="col-md-6">
    <label for="Phone" class="form-label">Phone number</label>
    <input
      type="text"
      class="form-control"
      id="input-phone"
      placeholder="Phone number"
    />
  </div>
  <div class="col-12">
    <label for="inputComments" class="form-label"> Comments</label>
    <input type="text" class="form-control" id="input-comments" style="height: 150px"/>
  </div>
  </div>
  <div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Add User</button>
  </div>
</form>